@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
   box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background:#f4f6f8;
    color:#1f2937;
    margin:0;
    padding:30px 18px;
    line-height: 1.5;
} 

h1{
    text-align:center;
    font-size:30px;
    margin-bottom:15px;
}

.subtitle{
    text-align:center;
    color:#6b7280;
    margin-bottom:28px;
}

.container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    padding:50px;
    margin:0 auto;
}

.card{
    background:#fff;
    border:1px solid #d9d6e0;
    padding:22px;
    border-radius:10px;
    box-shadow:0 1px 3px rgba(0,0,0,0.2);
    width:390px;

}

.card h2{
    font-size:18px;
    margin-top:0;
}

.tag{
    display:inline-block;
    font-weight:600;
    padding:2px 8px;
    border-radius:6px;
    font-size:12px;
    
}

.tag-if{
    background:#dbeafe;
    color:#10101a;
}

.tag-switch{
    background:#dcfce7;
    color:#10101a;
}

label{
    display:block;
    margin:12px 0 4px;
    font-size:14px;
    font-weight:600;
}

input, select{
    width:100%;
    padding:9px 10px;
    border-radius:6px;
    border:1px solid #d1d5db;
    font-size:15px;
}

.row{
    display:flex;
    gap:10px;
}

.row > * {
    flex:1;
}

button{
    margin-top:15px;
    width:100%;
    padding:10px;
    background:#0c1529;
    color:#fff;
    border:none;
    border-radius:999px;
    cursor:pointer;
    transition:all 0.2s ease-in-out;
}

button:hover{
    transform:scale(1.03);
}

.result{
    margin-top:16px;
    padding:12px;
    background:#f9fafb;
    border:1px solid #d1d5db;
    border-radius:6px;
    font-weight: 600;
    min-height:22px;
    text-align:center;
}
